$color-first: #e97231;
$color-second: #292627;
$color-third: #251e21;
$color-fourth: #e8dbc9;

@mixin addEvent {
  .addEvent {
    width: 100%;
    color: #e97231;
    height: 19.8%;
    border: none;
    font-size: 8em;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    .linkadd {
      background-color: darken($color: $color-first, $amount: 15);
    //   box-shadow: 0 0 0px 2px white;
      align-items: center;
      justify-content: center;
      display: flex;
      height: 100%;
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: #251e21;
      width: 100%;
      transition: all 0.25s ease-in-out;

      &:hover{
          background-color: $color-third;
          color: $color-first;
          transform: scale(0.97);
      }
      &:visited{
        color: red;
      }
    }
  }
  .linkadd::after {
    position: absolute;
    transition: 0.2s ease-in-out;
    content: "";
    width: 100%;
    z-index: 1;
    
    
    height: 100%;
    background-color: $color-first;
    opacity: 0;
    // border-radius: 30% 0px 0 30%;
  }
  
  .linkadd:hover::after {
    height: 100%;
    opacity: .3;
    
    
    animation: ani2 1s  0s ease-in-out alternate-reverse;
    // @keyframes ani2 {
    //   50% {
    //       width: 90%;
    //       opacity: 0.8;
          
    //   }
    // }
  }

  .addevent:hover .linkadd {
    opacity: 1;
    height: 100%;
    
    //   background-image: url("/_next/static/videos/ezgif.com-gif-maker1.gif");

    //box-shadow: #E8DBC9 0px 0px 10px 5px;
  }
  // .btadd:hover .icon4 {

  //   text-shadow: 1px 1px 1px #ccc;
  // }
}
