$color-first: #e97231;
$color-second: #292627;
$color-third: #251e21;
$color-fourth: #e8dbc9;

.wrapper {
  // background-color: #251e21;
  width: 75%;
  min-width: 75%;
  margin: 1% 0;
  z-index: 2;
  position: relative;
  min-width: 70%;
  .contenttb {
    border-radius: 4px;
    background-color: darken(#e8dbc9, 79);
    box-shadow: 0 0 5px 2px darken(#e8dbc9, 75);
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    position: relative;

    // box-shadow: 20px 5px 1px 2px gray;
    .wrapimages {
      border-radius: 4px;
      width: 150%;
      padding: 1.5%;
      display: flex;
      justify-content: center;
      align-items: center;
      // background-color: #292627;
      transition: all ease-out 0.3s;
      cursor: pointer;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        background-color: rgba(255, 255, 255, 0);
        height: 100%;
        width: 100%;
        // transform: scaleX(0.5);
        top: 0;
        right: 0;
        z-index: 2;
        border-radius: 4px;
        transition: all ease-in-out 0.2s;
      }

      &:hover {
        // background-color: #e97231;
      }
      &:hover::after {
        // transform: scaleX(1);
        background-color: rgba(0, 0, 0, 0.5);
      }
      .images {
        border-radius: 4px;
        min-height: 200px;
        width: 100%;
        // border: solid 3px white;
        min-width: 200px;
        background-position: center;
        object-position: center;
        object-fit: cover;
      }
    }
    .textdiv {
      background-color: rgb(192, 180, 180);
      width: 100%;
      border-radius: 4px;
      // margin-left: 2%;
      margin-top: 1.5%;
      margin-right: 1.5%;
      margin-left: 1.5%;
      margin-bottom: 1.5%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .title {
        width: 100%;
        height: 100%;

        // background-color: salmon;
        display: flex;

        flex-direction: column;

        .linkwrap {
          // background-color: saddlebrown;
          width: 100%;

          display: flex;
          border-radius: 4px;
          margin-top: 5%;
          // background-color: whitesmoke;
          min-height: 40px;
          margin-left: 3%;
          .linktitle {
            // background-color: rosybro;
            text-decoration: none;
            color: #e8dbc9;
            display: flex;
            align-items: center;
            height: 100%;
            padding-right: 2%;
            padding-left: 2%;
            padding-top: 2%;
            padding-bottom: 2%;
            font-size: 1.7em;
            transition: all 0.2s ease-in-out;
            background-color: rgba(24, 15, 15, 1);
            border-radius: 4px;
            &:hover {
              background-color: rgba(56, 52, 52, 0.8);

              box-shadow: 0px 0px 3px 1px black;
              padding: 3%;
            }
          }
        }

        .wrapinfo {
          min-width: 200px;
          width: 100%;
          position: relative;
          // background-color: red;
          display: flex;
          justify-content: center;
          flex-direction: column;

          .countopen {
            font-size: 1.5em;
            margin: 2% 0;
            margin-left: 3%;
            width: 91%;
            height: 100%;
            display: flex;
            padding: 2%;
            transition: all 0.2s ease-in-out;
            border-bottom: 2px solid black;
          }
          .infoOpen {
            font-size: 1.5em;
            width: 91%;
            margin: 2% 0;
            margin-left: 3%;
            height: 100%;
            padding: 2%;
            border-bottom: 2px solid black;
            transition: all 0.2s ease-in-out;
          }

          .infofull {
            margin: 2% 0;
            margin-left: 3%;
            font-size: 1.5em;
            width: fit-content;
            height: 100%;
            padding: 2%;
            border-bottom: 3px solid black;
          }
        }
      }

      .wrapbutton {
        // background-color: aliceblue;
        width: 100%;
        display: flex;
        justify-content: center;
        height: 10vh;
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 2% 0;

        .bt {
          height: 60%;
          width: 40%;
          min-width: 50px;
          min-height: 50px;
          outline: none;
          border: none;
          cursor: pointer;
          color: #e8dbc9;
          font-size: 1em;
          background-color: rgb(46, 41, 41, 1);
          transition: all 0.2s ease-in-out;
          border-radius: 4px;
          &:hover {
            color: wheat;
            background-color: rgb(20, 18, 18);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .contenttb {
    flex-wrap: wrap;
  }
  .textdiv {
  }
}
