$colorback: #433f40;

.wrapper {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #292627;
  // background-color: transparent;
  color: #c0b5a7;

  .space {
    height: 3.5vh;
    background-color: #292627;
  }
  .flexitup {
    display: flex;
    // justify-content: center;
    background-color: $colorback;
    width: 100%;
    .wrapperimg {
      background-color: $colorback;
      // background-color: red;
      padding: 1% 1%;
      height: auto;
      width: 100%;
      overflow: hidden;
      //   border: 1px solid white;
      display: flex;
      // align-items: center;
      justify-content: center;
      //   background-color: #c0b5a7;
      .img {
        border-radius: 4px;
        min-height: 400px;
        // box-shadow: 0 0 1px 1px white;
        // border: solid 3px white;
        min-width: 300px;
        max-width: auto;
        // padding: 1%;

        // background-color: red;
        background-position: center;
        object-position: center;
        object-fit: cover;
      }
    }
    .wrappertext {
      background-color: $colorback;
      width: 100%;
      //   border: 1px white solid;
      //   height: 70vh;
      padding: 1% 1%;
      display: flex;
      justify-content: center;
      align-items: center;
      .stickycontent {
        background-color: #2e292b91;
        width: 100%;
        // position: sticky;
        // top: 14%;
        padding: 2%;
        border-radius: 4px;
        box-shadow: 0 0 5px 2px darken(#2e292b91, 20);
        .title {
          color: white;
          font-size: 1.8em;
          margin-top: 1%;
        }
        .containertext {
          .infoOpen {
            font-size: 1.3em;
            width: 90%;
            margin: 2% 0;
            margin-left: 3%;
            height: 100%;
            padding: 2% 0;
            border-bottom: 2px solid black;
            transition: all 0.2s ease-in-out;
          }

          .infocount {
            font-size: 1.3em;
            width: 90%;
            margin: 2% 0;
            margin-left: 3%;
            height: 100%;
            padding: 2% 0;
            border-bottom: 2px solid black;
            transition: all 0.2s ease-in-out;
          }

          .infofull {
            font-size: 1.3em;
            width: 90%;
            margin: 2% 0;
            margin-left: 3%;
            height: 100%;
            padding: 2%;
            border-bottom: 2px solid black;
            transition: all 0.2s ease-in-out;
          }
        }
        .divdesc {
          background-color: #dfd4c5;
          border-radius: 4px;
          padding: 1%;
          //   height: 10vh;
          width: 88%;
          margin-left: 3%;
          margin-top: 5%;
          display: flex;
          //   min-height: 100px;
          color: black;
          p {
            display: flex;
            // align-items: center;
            font-size: 1.1em;
            padding: 3% 1%;
          }
        }
        .divcontent {
          background-color: #dfd4c5;
          border-radius: 4px;
          padding: 1%;
          //   height: 10vh;
          margin-top: 5%;
          display: flex;
          margin-left: 3%;
          width: 88%;
          //   min-height: 100px;
          color: black;
          p {
            display: flex;
            // align-items: center;
            font-size: 1.1em;
            padding: 3% 1%;
          }
        }
        .divbt {
          width: 100%;
          display: flex;
          justify-content: center;
          margin: 5% 0;
          .bt {
            height: 100%;

            min-width: 50px;
            min-height: 50px;
            padding: 3% 15%;
            max-width: 300px;
            outline: none;
            border: none;
            cursor: pointer;
            color: #e8dbc9;
            font-size: 1.1em;
            background-color: rgb(95, 90, 90);
            transition: all 0.2s ease-in-out;
            border-radius: 4px;
            &:hover {
              color: wheat;
              background-color: rgb(20, 18, 18);
            }
          }
        }
      }
    }
  }
  .divslider {
    width: 100%;
    height: 50vh;
    position: relative;
    margin: 2% 0;
    .leftarr {
      position: absolute;
      top: 50%;
      left: 0;
      font-size: 3rem;
      z-index: 99;
      margin: 0 2%;
      color: aqua;
      cursor: pointer;
      transition: all 0.1s ease-in;
      padding: 0% 1%;
      &:hover {
        color: rgb(25, 255, 255);
        transform: scale(1.25);
        // box-shadow: 0 0 5px 1px aqua;
        border-radius: 4px;
      }
      &:active {
        opacity: 0.5;
      }
    }
    .rightarr {
      position: absolute;
      top: 50%;
      right: 0;
      font-size: 3rem;
      z-index: 99;
      margin: 0 2%;
      color: aqua;
      cursor: pointer;
      transition: all 0.1s ease-in;
      padding: 0% 1%;
      &:hover {
        color: rgb(25, 255, 255);
        transform: scale(1.25);
        // box-shadow: 0 0 5px 1px aqua;
        border-radius: 4px;
      }
      &:active {
        opacity: 0.5;
      }
    }

    .slider {
      //   background-color: red;

      height: 100%;
      width: 100%;

      width: 100%;
      background-color: #433f40;
      border-radius: 4px;
      background-color: #c0b5a7;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        border-radius: 4px;
        min-height: 400px;
        // box-shadow: 0 0 1px 1px white;
        // border: solid 3px white;
        min-width: 300px;

        max-height: 30vh;
        // padding: 1%;

        // background-color: red;
        background-position: center;
        object-position: center;
        object-fit: cover;
      }
    }
  }
  .footer {
    // transform: translateY(30vh);
    bottom: 0;
    width: 100%;
    height: 20vh;
    z-index: 1;
    position: static;
    margin-top: auto;
    //   bottom: 0;
  }
}
@media only screen and (max-width: 650px) {
  .flexitup {
    flex-wrap: wrap;
  }
  .wrapperimg {
    width: 100%;
  }
  .wrappertext {
    width: 100%;
  }
}
