

.wrapper {
  // width: 100%;
   height: 100%;
  color: black;
  background-color: lighten(#251e21,15);
  
}
.container {
  width: auto;
  margin-left: 180px;
  height: 100%;
  height:100%;
  display:flex;
  flex-direction:column;
  min-height:100vh;
  // overflow: scroll;

  position: relative;

  .stickynav {
    position: sticky;
    width: 100%;
    height: fit-content;
    z-index: 10;
    top: 0px;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    border-bottom: 1px solid black;
  }

  .slider {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: lighten(#251e21,15);
  }


  .footer{
    width: 100%;
    height: 20vh;   
    z-index: 1;
    margin-top:auto;
  }
}

// .tracker{

//   height: 100%;
//   width: 100%;
//   position: relative;
//   transition: transform 250ms ease-in-out;
// }
//   .rightarr {
//     position: absolute;
//     top: 50%;
//     right: 32px;
//     font-size: 3rem;
//     color: #000;
//     z-index: 10;
//     cursor: pointer;
//     user-select: none;

//   }

//   .leftarr {
//     position: absolute;
//     top: 50%;
//     left: 32px;
//     font-size: 3rem;
//     color: #000;
//     z-index: 10;
//     cursor: pointer;
//     user-select: none;

//   }
@media only screen and (max-width: 900px) {
  .container {
    
    margin-left: 0px;
   
  }
  .slider{
    margin-top: 20vh;
  }
  
}