.wrapper{
    width: 100%;
    height: 120vh;
    color: #e97231;
    background-color: rgba(233, 114, 49, 0.8);
  }
    .container{
        width: auto;
        margin-left: 180px;
        height: 100%;
        background-color: rgba(64, 224, 208, 0.233);
       position: relative;
    }
    .slider {
        width: 100%;
        height: 500px;
        position: relative;
        background-color: #e97231;
        overflow: hidden;
      }
      .slide {
        opacity: 0;
        transition-duration: 1s ease;
      }
      
     


      // .tracker{
          
      //   height: 100%;
      //   width: 100%;
      //   position: relative;
      //   transition: transform 250ms ease-in-out;
      // }
      //   .rightarr {
      //     position: absolute;
      //     top: 50%;
      //     right: 32px;
      //     font-size: 3rem;
      //     color: #000;
      //     z-index: 10;
      //     cursor: pointer;
      //     user-select: none;
          
      //   }
        
      //   .leftarr {
      //     position: absolute;
      //     top: 50%;
      //     left: 32px;
      //     font-size: 3rem;
      //     color: #000;
      //     z-index: 10;
      //     cursor: pointer;
      //     user-select: none;

          
      //   }

        

        
       
      
      
    
      
      
    
