@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

$color-first: #e97231;
$color-second: #292627;
$color-third: #251e21;
$color-fourth: #e8dbc9;

$logo: url(/Pics/logo_large.png);

@mixin signOut {
  .singoutuser {
    height: 40%;
    width: 100%;
    background-color: darkcyan;
    display: flex;
    
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .button1 {
      width: 100%;
    z-index: 2;
      height: 100%;
      background-color: $color-fourth;
      position: relative;
      transition: all ease-in-out 0.3s;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: none;

      .link6{
        text-align: center;
        transition: 0.3s all ease-in-out;
        background-color: darken($color: $color-third, $amount: 40);
      align-items: center;
      justify-content: center;
      color: $color-fourth;
      display: flex;
      height: 100%;
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
     
      width: 100%;
      
        .icon6{
          margin-right: 5px;
          transition: all ease-in-out 0.3s;
        }
      }

    }
    
    .button1:hover .link6{
      color: $color-third;
      background-color: #e8dbc9;
    }
    .button1:hover .icon6{
      color: $color-third;
      
    }

    .button1::after {
      position: absolute;
      transition: 0.3s ease-in-out;
      content: "";
      width: 100%;
      top: 0;
      right: 0;
      width: 100%;
      height: 0;
      background: #251e21;
      opacity: 0.2;
    }
    .button1:hover::after {
      height: 100%;
      bottom: 0;
    }
  }
}

.main {
  background-color: $color-second;
  
  position: fixed;
  width: 180px;
  height: 100vh;
  left: 0;
  overflow: hidden;
  
 

  .divl {
    width: 100%;
    height: 18%;
    min-height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .divlogo {
      width: 80%;
      height: 80%;
      min-height: 50px;
      background-image: url('/_next/static/media/logo_large.3f4aa90a.png');

      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      z-index: 2;
    }
  }

  .divbutton {
    width: 100%;
    height:55.5%;
    background-color: lighten($color: $color-second, $amount: 10);
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    
    .bt1 {
      
      width: 100%;
      font: inherit;
      height: 19.8%;
      border: none;
      color: #e97231;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;

      .link1 {
        background-color: $color-third;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 100%;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        width: 100%;
        transition: all 0.15s ease-in-out;

        .icon1 {
          margin-top: 5px;
          margin-right: 5px;
          transition: all 0.2s ease-in-out;
        }
      }
    }
    .link1::after {
      position: absolute;
      transition: 0.3s ease-in;
      content: "";
      width: 0;
      left: 50%;
      bottom: 0;
      height: 3px;
      background: #e8dbc9;
      opacity: 0.8;
    }
    .link1:hover::after {
      width: 100%;
      left: 0;
    }

    .bt1:hover .link1 {
      opacity: 1;
      width: 100%;

      background-image: url("/Vids/ezgif.com-gif-maker1.gif");

      //box-shadow: #E8DBC9 0px 0px 10px 5px;
    }
    .bt1:hover .icon1 {
      

     
    }

    .bt2 {
      width: 100%;
      color: #e97231;
      height: 19.8%;
      border: none;
      font: inherit;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;

      .link2 {
        background-color: $color-third;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 100%;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        width: 100%;
        transition: all 0.15s ease-in-out;

        .icon2 {
          margin-top: 5px;
          margin-right: 5px;
          transition: all 0.2s ease-in-out;
        }
      }
    }
    .link2::after {
      position: absolute;
      transition: 0.3s ease-in;
      content: "";
      width: 0;
      left: 50%;
      bottom: 0;
      height: 3px;
      background: #e8dbc9;
      opacity: 0.8;
    }
    .link2:hover::after {
      width: 100%;
      left: 0;
    }

    .bt2:hover .link2 {
      opacity: 1;
      width: 100%;

      background-image: url("/_next/static/videos/ezgif.com-gif-maker1.gif");

      //box-shadow: #E8DBC9 0px 0px 10px 5px;
    }
    .bt2:hover .icon2 {
      

      text-shadow: 1px 1px 1px #ccc;
    }

    .bt3 {
      width: 100%;
      color: #e97231;
      height: 19.8%;
      border: none;
      font: inherit;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;

      .link3 {
        background-color: $color-third;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 100%;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        width: 100%;
        transition: all 0.15s ease-in-out;

        .icon3 {
          margin-top: 5px;
          margin-right: 5px;
          transition: all 0.2s ease-in-out;
        }
      }
    }
    .link3::after {
      position: absolute;
      transition: 0.3s ease-in;
      content: "";
      width: 0;
      left: 50%;
      bottom: 0;
      height: 3px;
      background: #e8dbc9;
      opacity: 0.8;
    }
    .link3:hover::after {
      width: 100%;
      left: 0;
    }

    .bt3:hover .link3 {
      opacity: 1;
      width: 100%;

      background-image: url("/_next/static/videos/ezgif.com-gif-maker1.gif");

      //box-shadow: #E8DBC9 0px 0px 10px 5px;
    }
    .bt3:hover .icon3 {
      

      text-shadow: 1px 1px 1px #ccc;
    }
    .bt4 {
      width: 100%;
      color: #e97231;
      height: 19.8%;
      border: none;
      font: inherit;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;

      .link4 {
        background-color: $color-third;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 100%;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        width: 100%;
        transition: all 0.15s ease-in-out;

        .icon4 {
          margin-top: 5px;
          margin-right: 5px;
          transition: all 0.2s ease-in-out;
        }
      }
    }
    .link4::after {
      position: absolute;
      transition: 0.3s ease-in;
      content: "";
      width: 0;
      left: 50%;
      bottom: 0;
      height: 3px;
      background: #e8dbc9;
      opacity: 0.8;
    }
    .link4:hover::after {
      width: 100%;
      left: 0;
    }

    .bt4:hover .link4 {
      opacity: 1;
      width: 100%;
      
      background-image: url("/_next/static/videos/ezgif.com-gif-maker1.gif");

      //box-shadow: #E8DBC9 0px 0px 10px 5px;
    }
    .bt4:hover .icon4 {
      

      text-shadow: 1px 1px 1px #ccc;
    }
    .bt5 {
      width: 100%;
      font: inherit;
      color: #e97231;
      height: 19.8%;
      border: none;

      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;

      .link5 {
        background-color: $color-third;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 100%;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        width: 100%;
        transition: all 0.15s ease-in-out;

        .icon5 {
          margin-top: 5px;
          margin-right: 5px;
          transition: all 0.2s ease-in-out;
        }
      }
    }
    .link5::after {
      position: absolute;
      transition: 0.3s ease-in;
      content: "";
      width: 0;
      left: 50%;
      bottom: 0;
      height: 3px;
      background: #e8dbc9;
      opacity: 0.8;
    }
    .link5:hover::after {
      width: 100%;
      left: 0;
    }

    .bt5:hover .link5 {
      opacity: 1;
      width: 100%;
      
      background-image: url("/_next/static/videos/ezgif.com-gif-maker1.gif");

      //box-shadow: #E8DBC9 0px 0px 10px 5px;
    }
    .bt5:hover .icon5 {
      

      
    }
    .bt5:hover .icon5 {
      // transform: translateX(-20px) rotate(360deg);
    }
  }

  .divuser {
    width: 100%;
    height: 25%;
    background-color: #e97231;
    position: relative;

    .singoutuser {
      height: 40%;
      width: 100%;
      background-color: darkcyan;
      display: flex;
      
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .button1 {
        width: 100%;
      z-index: 2;
        height: 100%;
        background-color: $color-fourth;
        position: relative;
        transition: all ease-in-out 0.3s;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: none;

        .link6{
          text-align: center;
          transition: 0.3s all ease-in-out;
          background-color: darken($color: $color-third, $amount: 40);
        align-items: center;
        justify-content: center;
        color: $color-fourth;
        display: flex;
        height: 100%;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       
        width: 100%;
        
          .icon6{
            margin-right: 5px;
            transition: all ease-in-out 0.3s;
          }
        }

      }
      
      .button1:hover .link6{
        color: $color-third;
        background-color: #e8dbc9;
      }
      .button1:hover .icon6{
        color: $color-third;
        
      }

      .button1::after {
        position: absolute;
        transition: 0.3s ease-in-out;
        content: "";
        width: 100%;
        top: 0;
        right: 0;
        width: 100%;
        height: 0;
        background: #251e21;
        opacity: 0.2;
      }
      .button1:hover::after {
        height: 100%;
        bottom: 0;
      }
    }
    .help1{
      width: 100%;
      height: 67%;
      display: flex;
      flex-direction: column;
      position: relative;
      
    .logouser {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease;
      cursor: pointer;
      &:hover{
        background-color: #c56f40;
        box-shadow: 0 0 2px 2px red;
      }
      .logo {
        width: 60px;
        height: 60px;
        border-radius: 70px;
        cursor: pointer;
        box-shadow: 0 0 5px 2px black;

        
      }

    }

    .divuser {
      height: 100%;
      width: 100%;
      background-color: seagreen;
      
     
      .userhelp {
        background-color: rgb(194, 87, 37);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      

        .username {
          display: flex;
          align-items: center;
          justify-content: center;
          color: $color-third;
          font-size: 1.1em;
          
        }

        // .userarrow {
        //   display: flex;
        //   justify-content: center;
        //   align-items: center;
        //   background-color: white;
        //   width: 20%;
        //   position: relative;
          
        //   height: 100%;
        //   cursor: pointer;
        // }
      }
    }
  }

  }

}
