@use "sass:math";
@import "/styles/modules/p-register.module.scss";

$color-first: #e97231;
$color-second: #292627;
$color-third: #251e21;
$color-fourth: #e8dbc9;
// @include coolbt;

// @include inputsEffekt;
$val: 100%;
@debug $val;

.wrapper {
  background: linear-gradient(360deg, #251e21 24%, #e97231);
  height: 100%;
  // .art {
  //   width: 1100px;
  //   height: 400px;
  //   position: absolute;
  //   background-color: #251e21;
  //   left: 0;
  //   box-shadow: 0 5px 0 #e8dbc9;
  //   top: 0;
  //   z-index: 0;

  //   transform: rotate(305deg) translateX(-400px) translateY(-400px);
  // }
  // .art2 {
  //   z-index: 0;
  //   width: 500px;
  //   height: 200px;
  //   position: absolute;
  //   background-color: #251e21;
  //   left: 0;
  //   box-shadow: 0 5px 0 #e8dbc9;
  //   bottom: 50%;

  //   transform: rotate(210deg) translateX(-80px) translateY(-400px);
  // }

  .back {
    position: fixed;
    z-index: 10;
    left: 45px;
    top: 1vh;
    text-decoration: none;
    width: fit-content;
    border-radius: 10px;
    font-size: 1.4em;
    color: #251e21;
    background-color: #c0b5a7;
    transition: all 0.2s ease-in-out;
    width: 50px;
    padding: 10px 20px;
    &:hover {
      background-color: #e8dbc9;
      // background-color: #292627;
      transform: translateX(2px);
    }
  }

  section {
    width: auto;
  margin-left: 180px;
  display:flex;
  flex-direction:column;
  height:100%;
  // overflow: scroll;

  position: relative;

    .footer1 {
      bottom: 0;
      width: 100%;
      height: 20vh;
      z-index: 1;
      position: static;
      margin-top: auto;
     
    }

    .griddi {
      width: 100%;
      height: 120vh;
      // background-color: #ebeae7;
      display: flex;
      flex-direction: column;
      // position: relative;
      justify-content: center;
      align-items: center;
      
     
      .flexdiv {
        width: 80%;
        // padding: 1%;
        background: linear-gradient(360deg, #251e216e, #e971316c, #251e216e);
        // margin-top: 3vh;
        // margin-bottom: 3vh;
        border-radius: 30px;
        display: flex;
        position: relative;
        justify-content: center;
        // align-items: center;
        flex-direction: column;

        .itemtit {
          display: flex;
          width: 100%;
          .title {
            color: #e8dbc9;
            width: fit-content;
            margin: 1%;
            margin-left: 5vw;
            padding: 1%;
            font-size: 2em;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-radius: 10px 10px 0 0;
            box-shadow: 0 5px #e8dbc9;
            i {
              color: #e97231;
            }
          }
        }

        .itempic {
          top: 10vh;
          right: 0;
          width: 30%;
          position: absolute;
          z-index: 99;

          // background-color: #251e21;
          display: flex;
          justify-content: center;
          align-items: center;
          .imgart {
            background-color: #bb724b;
            height: 150px;
            width: 150px;
            position: absolute;

            // border-radius: 50%;
            transform: rotate(45deg);
            border-radius: 10px;
            border: solid 1px #e8dbc9;
          }
          .propic {
            width: 150px;
            height: 100%;
            min-width: 100px;
            min-height: 80px;
            max-height: 200px;
            max-width: 200px;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            // box-shadow: 0px 0px 10px #e8dbc9, 2px 2px 1px #e8dbc9,
            //   -2px -2px 1px #e8dbc9;
            // border: 1px solid;
            transition: all 0.2s ease-in-out;
            &:hover {
              box-shadow: 0px 0px 10px #251e21, 2px 2px 1px #251e21,
                -2px -2px 1px #251e21;
            }
            &:hover ~ .imgart {
              transform: rotate(45deg);
            }
            img {
              // opacity: 0;
            }

            .changepic {
              width: 100%;
              height: 100%;
              transition: 0.3 ease-in-out;
              position: absolute;
              // background-color: #251e21;
              top: 0;

              p {
                width: 100%;
                height: 25px;
                background-color: #251e21;
                color: #e8dbc9;
                position: absolute;
                bottom: 0vh;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              .btchangepic {
                opacity: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
                z-index: 5;
                background-color: #251e21;
              }
            }
          }
        }
      }

      .item {
        display: flex;
        align-items: center;
        height: fit-content;
        justify-content: center;
        align-items: center;
        #specialdivinput{
          justify-content: center;
        }
        .divinput {
          width: 100%;
          margin-top: 10px;
          max-width: 500px;
          font-family: "Raleway", sans-serif;
          position: relative;
          display: flex;
          // justify-content: center;
          align-items: center;
          height: 100px;
         
          #specialLabel {
            height: 60%;
            //  text-align: center;
          }
          #specialLabel2 {
           min-width: fit-content;
           &::after{
             display: none;
           }
            //  text-align: center;
          }
          .label {
            color: #e8dbc9;
            // background-color: #bb724b;
            // padding: 1%;
            // margin-top: 20px;
            margin-left: 20px;
            margin-right: 5vw;
            font-size: 1.2em;
            display: flex;
            z-index: 0;
            // justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            position: relative;
            min-width: 150px;
            width: 200px;
            height: 40px;
            &::after {
              content: "";
              width: 100%;
              height: 5px;
              position: absolute;
              z-index: 1;
              background-color: #e8dbc9;
              bottom: 0;
              left: 0;
            }
          }

          .inputs {
            position: static;
            border-radius: 10px;
            // width: 100%;
            height: 100%;
            max-height: 60px;
            background-color: #251e21;
            font-size: 1.05em;
            width: 350px;
            min-width: 300px;
            padding: 10px 20px;
            margin: 6px 0;
            font-family: "Raleway", sans-serif;
            border: none;
            color: #e8dbc9;
            box-sizing: border-box;

            transition: all 0.2s ease-in-out;
            outline: none;
            background-color: transparent;
            background-color: #bb724b;
            color: #e8dbc9;
            font-size: 1em;
            box-sizing: border-box;
            letter-spacing: 1px;
            filter: none;
            box-shadow: none;
            background-image: none;

            &::placeholder {
              color: #e8dbc9;
              letter-spacing: 0.3px;
              font-size: 1.02em;
              transition: all 0.3s ease;
            }

            &:hover::placeholder {
              opacity: 1;
            }

            &:focus {
              box-shadow: none;
              // border: none;
            }
            &:focus::placeholder {
              opacity: 0.3;
            }
          }
          // .textspan {
          //   background-color: #e8dbc9;
          // }
        }
      }

      .itembt {
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        margin-bottom: 2%;
      }

      .bt {
        background-color: #251e21;
        border: none;
        width: 300px;
        color: #e8dbc9;
        max-width: 200px;
        margin-top: 5%;
        font-size: 1.5em;
        height: 60px;
        border-radius: 10px;
        cursor: pointer;
        position: relative;
        z-index: 1;
        transition: all 0.1s ease-in-out;
        &::before {
          content: "";
          width: 0%;
          height: 10%;
          background-color: #e8dbc9;
          position: absolute;
          left: 5%;
          top: 100%;
          transition: all 0.2s ease-in-out;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
        &::after {
          content: "";
          width: 0%;
          height: 10%;
          background-color: #e8dbc9;
          position: absolute;
          right: 5%;
          top: 100%;
          transition: all 0.1s ease-in-out;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
        &:hover {
          box-shadow: 10px 6px 0px #e8dbc9;
          // transform: translateY(2px);
          // background-color: #e8dbc9;
        }
        &:hover {
          color: #e97231;
        }
        &:hover::before {
          width: 45%;
        }
        &:hover::after {
          width: 45%;
        }
      }
    }
  }
}
@media only screen and (max-width: 900px) {
  .wrapper {
    section {
      transform: translateX(-180px);
      width: 100%;
      .griddi {
        margin-top: 15vh;
      }
    }
  }
}
@media only screen and (max-width: 1560px) {
  .itempic {
    margin-right: 6vw;
  }
  .item {
    .divinput {
      flex-wrap: wrap;
      flex-grow: 1;
      .label {
      }
      .inputs {
        max-width: 300px;
      }
    }
  }
  .itembt {
    margin-top: 10px;
  }
}
