$color-first: #e97231;
$color-second: #292627;
$color-third: #251e21;
$color-fourth: #e8dbc9;

.wrapper {
  // background-image: url("/pexels-dapo-abideen-5677459.jpg");
  background-position: center;

  background-size: cover;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.backg {
  width: 100%;
  min-width: fit-content;
  min-height: fit-content;
  // background-color: #292627;

  height: 100%;

  .space {
    height: 3.5vh;
    background-color: #292627;
  }
    // .divdesc {
    //   background-color:  #292627 ;
    //   display: flex;
    //   align-items: center;
    //   width: 100%;
    //   height: 10vh;
    //   min-height: 90px;
      
    //   overflow: hidden;
    //   .spandesc {
    //     width: 100%;
    //     background-color: #e97231;
    //     opacity: 0.5;
    //     height: 100%;
    //     // border-radius: 0px 0px 0px 10px;
    //   }
    // }
  }


.table {
  background-color: lighten(#292627, 10);
  // margin-top: 2%;
  // padding: 2% 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  width: 100%;
  //  min-height: fit-content;
  border-spacing: 0px;
  
  //  height: auto;
  // background-color: rgba(37, 30, 33, 0.5);
  .tablebody {
    border-spacing: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 90%;
    height: fit-content;
    z-index: 1;
    background-color: #2e292b91;
    box-shadow: 0 0 5px 2px darken(#2e292b91, 20);
    padding: 5% 0;
    border-radius: 10px;
    margin: 2% 0;
    //   margin: 10px 0;
  }
}

.desc {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  // padding: 0% 2%;
  height: 10vh;
  
  padding: 2% 0;
  background-color: #292627 ;
  width: 100%;
  font-size: 1.3em;
  
  // border-radius: 0px 0px 10px 0;
  p {
    background-color: #dfd4c5;
    // box-shadow: 0 0 5px 1px darken(rgb(175, 162, 162), 20);
    color: black;
    border-radius: 10px;
    max-width: 800px;
    min-height: 63px;
    width: 90%;
    height: 85%;
    padding: 0% 1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer {
  // transform: translateY(30vh);
  bottom: 0;
  width: 100%;
  height: 20vh;
  z-index: 1;
  position: static;
  margin-top: auto;
  //   bottom: 0;
}
@media only screen and (max-width: 650px) {
  .tablebody {
    min-width: 90%;
  }
}
