$color-first: #e97231;
$color-second: #292627;
$color-third: #251e21;
$color-fourth: #e8dbc9;
.none {
  display: none;
}
.container1 {
  
  transform: scale(0.8);
  
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  // background-color: rgba(255, 255, 255, 0.5);
  bottom: 1%;
  right: 1%;
  // border-radius: 50%;
  .Polygon1 {
  transition: ease-in-out 0.2s all;
    animation: animation1 4s linear 0s infinite alternate;
    transform-origin: center;
    box-shadow: 10px 10px white;
    @keyframes animation1 {
      0% {
        transform: rotate(0deg)  scale(1);
      }
      100% {
        transform: rotate(360deg) scale(1.1);
        stroke-width: 10%;

      }
    }
  }
  .Polygon2 {
  
    transition: ease-in-out 0.2s all;
    animation: animation2 8s ease 0s infinite alternate;
    transform-origin: center;

    @keyframes animation2 {
      0% {
        stroke-width:10%;
      }
      100% {
        transform: rotate(-360deg)  scale(0.9);
        
      }
    }
  }
  .Polygon3 {
  
    transition: ease-in-out 0.2s all;
   
    animation: animation3 8s linear 0s infinite alternate;
    transform-origin: center;

    @keyframes animation3 {
      0% {
        stroke: #e8dbc9;
      }
      100% {
        stroke: #e97231;
        stroke-opacity: 0.5;
      }
    }
  }
  // .text {
  
  //   transition: ease-in-out 0.2s all;
  //   transform-origin: center;
  //   animation: text 2s ease-in-out 0s infinite alternate;

  //   @keyframes text {
  //     0% {
       
  //     }
  //     100% {
        
        
  //     }
  //   }
  // }
  
}



