$color-primary: hsl(212, 100%, 48%);
$logo: url(/Pics/logo_large.png);
.main {
  background: lighten($color: #000000, $amount: 80%);
  width: 20vw;
  position: fixed;
  height: 100vh;
  max-width: 250px;
  min-width: 150px;

  .divlogo {
    width: 100%;
    height: 20%;
    background-color: $color-primary;
    background-image: url(D:/nextjs-blog/Pics/logo_large.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    z-index: 2;
    cursor: pointer;
  }
  .divbutton {
    width: 100%;
    height: 55%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    .bt {
      width: 100%;
      height: 15%;
      border: none;
      cursor: pointer;

      .link {
          
        .materialicons {
            width: 100%;
            height: 20px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          background-image: url(D:/nextjs-blog/Pics/baseline_settings_black_24dp.png);
        }
      }
    }
  }

  .divuser {
    width: 100%;
    height: 25%;
    background-color: darkblue;
  }
}
