@media only screen and (max-width: 750px) {
    #wrph1 {
      width: 100%;
    }
  
    .wrpbt-div {
      /* opacity: 0; */
      position: absolute;
      display: flex;
      width: 100%;
      /* margin-right: 5%; */
      min-height: 0vh;
      top: 100%;
      z-index: 99;
      border-radius: 0px 0 4px 4px;
  
      right: 0;
      /* transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out; */
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
  
  
      /* background-color: rgb(0, 0, 0); */
    }
  
    .wrpbt-active {
      top: 100%;
      min-height: 40vh;
      transform: scaleY(1);
      transform-origin: top;
      opacity: 1;
      transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
      background-color: #251e21;
    }
    .wrpbt-close {
      top: 100%;
      /* min-height: 0vh; */
  
      /* transform: scaleY(0); */
      transform-origin: top;
      opacity: 1;
      transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
      background-color: #251e21;
    
    }
    .rotate .line1 {
      
      transform: rotate(-45deg) translate(-5px, 5px);
    }
    .rotate .line2 {
      opacity: 0;
    }
    .rotate .line3 {
      transform: rotate(45deg) translate(-3px, -4px);
    }
  
    #flexPop {
      /* flex-direction: column; */
    }
    .bt {
      margin-top: 20px;
      margin-bottom: 20px;
      transform: translateY(20px);
      opacity: 0;
    }
    .bt:nth-child(1){
      color: #e8dbc9;
  
    }
    .bt:nth-child(2){
      color: #e8dbc9;
  
    }
    .bt:nth-child(3){
      /* color: #251e21;
      box-shadow: 0 0 5px 2px #2e292b91;
      background-color: #e8dbc9ab; */
  
    }
    
  }
  .is_there{
    transform: scale(1);
    /* display: flex; */
    position: relative;
    opacity: 1;

    }
    .is_notthere{
    transform: scale(0);
    /* display: none; */
    position: absolute;
    opacity: 0;
    }
    .confirm_ishere{
      transform: scale(1);
      /* display: flex; */
      position: relative;
      opacity: 1;
    }
    .confirm_isnothere{
      transform: scale(0);
    /* display: none; */
    position: absolute;
    opacity: 0;
    }
    
  @media only screen and (max-width: 900px) {
   
    .backgroundBurger {
        background-color: #e8dbc9;
        width: 15%;
        height: 30px;
        min-height: 40px;
        min-width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        transition: all ease-in-out 0.2s;
        border-radius: 4px;

      }
      #AfterButtons{

      }
      .backgroundBurger:hover {
        background-color: #e8dbc9;
      }
      .backgroundBurger span {
        
        width: 25px;
        min-width: 25px;
        transition: all 0.2s ease;
        border-radius: 4px;
        background-color: black;
        margin: 2px 0;
      
      }
      .opacity0{
          opacity: 0;
      }
    .active {
    transform: translateX(0px);
   
    }
    .close {
        transform: translateX(300px);
       
    }
    .rotation .l1 {
      
      transform: rotate(-45deg) translate(-5px, 5px);
    }
    .rotation .l2 {
      opacity: 0;
    }
    .rotation .l3 {
      transform: rotate(45deg) translate(-3px, -4px);
    }

  
    
  }