@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

#nav {
  width: 100%;
  height: 20vh;
  position: fixed;
  /* border-bottom: solid 1px white; */
  top: 0;
  z-index: 20;
  transition: all ease-in-out 0.1s;
}
#wrpnav {
  display: flex;
  height: 100%;
  width: 100%;
}
#wrph1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  justify-content: center;
  align-items: center;
  position: relative;
}
#h1 {
}
#wrplh {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  transition: all ease-in-out 0.5s;
  justify-content: center;
  align-items: center;
}
#wrph1:hover .h1aspan {
  opacity: 0.9;
  transform: translateY(-1vh);
}
#logo {
  background-image: url(../Pics/logo_large.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  width: 90%;
  height: 70%;
  min-width: fit-content;
  max-width: 140px;
  max-height: 120px;
  min-height: fit-content;
}
#logo a {
  height: 100%;
  width: 100%;
  background-color: darkorchid;
}
#wrplh a {
  text-decoration: none;
  color: #e97231;
  cursor: pointer;
  font-size: 2em;
  margin-left: 1%;
  letter-spacing: 1px;
  text-align: center;
}

/*
.h1aspan{
   opacity: 0;
    background-color: #E8DBC9;
    
    height: 2px;
    width: 80%;
    transition: ease-in-out 0.3s all;

}
*/
.wrpbt-div {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  justify-content: center;
}
.bt:nth-child(1) {
  /* background-color: rgba(37, 30, 33,0.5); */
  color: #e8dbc9;
  box-shadow: 0 0 2px 1px #292627;

}

.bt:nth-child(2) {
  /* background-color: rgba(37, 30, 33,0.5); */
  /* background-color: rgb(27, 26, 26);  */
  box-shadow: 0 0 2px 1px #292627;
  /* min-width: 110px; */
  color: #e8dbc9;

}
.bt:nth-child(3) {
  /* background-color: rgba(37, 30, 33,0.5); */
  background-color: black; 
  box-shadow: 0 0 2px 1px #292627;
  color: #e97231;
}
.bt {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 0.95em;
  border-radius: 4px;
  transition: ease-in-out 0.2s all;
  text-shadow: 0 1px 1px black;

  min-height: 50px;
  min-width: 90px;
  padding: 0 2%;
  width: 100%;
  height: 100%;
}
.bt a {
  /* letter-spacing: 1px; */

  /* background-color: rebeccapurple; */
}
.bt:hover {
  box-shadow: 0 0 7px 0.1px #e8dbc9;
  color: white;
}

.bt:active {
  transform: translateY(2px);
}
.bt::before,
.bt::after {
  /* padding: 5%; */
  width: 10%;
  height: 15%;
  content: "";
  position: absolute;
  transition: 0.35s ease;
}
.bt::before {
  top: 0;
  left: 0;
  border-left: 1px solid rgba(232, 219, 201);
  border-top: 1px solid rgba(232, 219, 201);
  border-radius: 4px 0 0 0;
}
.bt::after {
  bottom: 0;
  right: 0;
  border-right: 1px solid rgba(232, 219, 201);
  border-bottom: 1px solid rgba(232, 219, 201);
  border-radius: 0px 0 4px 0;
}
.bt:hover::before,
.bt:hover::after {
  width: 99%;
  height: 98%;
  padding: 5%;
}
/* .bt:hover::before{
  width: 60%;
  height: 80%;
  background-color: #e97231;
  border-radius: 0 0px 10px 0;
  border-color: #e97231;
}
.bt:hover::after{
  width: 80%;
  height: 70%;
  background-color: #292627;
  border-radius: 10px 0px 0px 0;
  border-color: #292627;
} */

#Popup {
  /* height: 100%; */
  align-items: center;
  display: flex;
  /* justify-content: center; */
  transition: all ease 0.3s;
}
#flexPop {
  display: flex;
  height: 100%;
  width: 15%;
}
.backg {
  background-color: #e8dbc9;
  width: 15%;
  height: 30px;
  min-height: 40px;
  min-width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  border-radius: 4px;
}
.backg:hover {
  background-color: #e8dbc9;
}
.backg span {
  
  width: 25px;
  min-width: 25px;
  transition: all 0.2s ease;
  border-radius: 4px;
  background-color: black;
  margin: 2px 0;

}
.backg span:nth-child(1){
  
}
.backg span:nth-child(2){
  
}
.backg span:nth-child(3){
 
}
@keyframes navLinksFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}


@media only screen and (max-width: 390px) {

  #flexPop{
    flex-direction: column;
  }

}
