#wrapper-login {
  background-color: red;

  overflow: hidden;
  width: 100%;
}
#wrplh-login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  transition: all ease-in-out 0.5s;
  justify-content: center;
  align-items: center;

  height: 10vh;
}

#logo-login {
  background-image: url(../Pics/logo_large.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  width: 12.5%;
  height: 80px;
}
#logo-login a {
  height: 100%;
  width: 100%;
}
#wrplh-login a {
  text-decoration: none;
  color: #e97231;
  cursor: pointer;
  font-size: 2em;
  margin-left: 10px;

  text-align: center;
  font-family: "Almarai", sans-serif;
}

.content-box {
  box-shadow: 0 0 15px 1px #e8dbc9;
  background-color: #251e21;
  height: 60vh;
  position: relative;
  border: 1px solid #888;
  min-height: 400px;
  min-width: 450px;
  width: 30%;
  flex-direction: row;
  display: flex;
  animation: boxs 10s infinite;
}

label {
  color: white;
  padding: 1%;
}
.text-div {
  width: 70%;
  max-width: 300px;

  position: relative;
  display: flex;
  justify-content: center;
}
.text-span {
  width: 100%;
  transform: scale(0);
  transform-origin: center;
  height: 1px;
  position: absolute;
  background-color: rgba(232, 219, 201, 0.7);
  bottom: 14%;
  transition: 0.35s ease-in-out;
}
input[type="email"]:focus ~ .text-span {
  transform: scale(1);
}
input[type="password"]:focus ~ .text-span {
  transform: scale(1);
}
input[type="email"],
input[type="password"] {
  width: 100%;
  background-color: rgba(232, 219, 201, 0.7);
  max-width: 300px;
  padding: 12px 20px;
  margin: 9px 0;

  border: none;

  box-sizing: border-box;

  transition: all 0.2s ease-in-out;
  color: black;
}
input[type="email"]:focus {
  outline: none;
  background-color: rgba(232, 219, 201, 0.4);
  box-shadow: 0 0 10px 1px #e8dbc927;
}
input[type="password"]:focus {
  box-shadow: 0 0 10px 1px #e8dbc927;
  outline: none;
  background-color: rgba(232, 219, 201, 0.4);
}

input[type="email"]:hover,
input[type="password"]:hover {
  border-color: #e97231;
}
input[type="email"]::placeholder {
  font-weight: 600;
  color: black;
}

input[type="password"]::placeholder {
  font-weight: 600;
  color: black;
}
input[type="email"]:focus input[type="email"]::placeholder {
  color: #e8dbc9;
  font-weight: bolder;
}
.psw {
  color: #e8dbc9;

  width: 100%;
  font-style: italic;
  text-align: center;
}
.psw a:nth-child(1) {
  text-decoration: none;
  color: #ce8e35;
  font-weight: 600;
  font-style: italic;
}
.psw a:nth-child(1):hover {
  opacity: 0.6;
}
.psw a:nth-child(2) {
  color: #e8dbc9;
  padding: 0.5%;
  margin-left: 5%;

  text-decoration: underline;
}
.psw a:nth-child(2):hover {
  opacity: 0.6;
}
/* Set a style for all buttons */
#submit {
  background-color: #e97231;
  color: white;
  font-size: larger;

  padding: 14px 20px;
  margin: 8px 0;
  width: 50%;
  border: none;
  cursor: pointer;
  transition: ease-in-out all 0.1s;
  position: relative;
  z-index: -1;
}

#submit:hover {
  transform: translateY(2px);
  opacity: 0.8;
}

#img {
  /*
    background-image:url(/Main/Pics/pic3.jpg);
    */
  opacity: 0.1;
  background-image: url(../Pics/crowd-1056764_1920.jpg);
  filter:saturate(110%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: -1;
  border-radius: 20px;
}
.content-box:hover .nav {
  background-color: red;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 3;
  border-radius: 0px;
}
.container h1 {
  color: white;

  max-width: 300px;
  width: 70%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid #e8dbc9;
}

/* The Modal (background) */
.modal {
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */

  animation: fading1 10s ease-in-out;
  background-image: linear-gradient(
    to bottom,
    #e97231 80%,
    rgba(47, 47, 47, 1)
  );
  filter: saturate(0.9);
}
@keyframes fading1 {
}
/* Modal Content/Box */

@keyframes boxs {
  30% {
    box-shadow: 0 0 15px 1px #e8dbc9;
  }
  90% {
    box-shadow: 0 0 15px 1px #251e21;
  }
  100% {
    box-shadow: 0 0 15px 1px #e8dbc9;
  }
}
.content-box:nth-child(2) {
  transform: translateY(100vh);
  display: none;
}

label:nth-child(6) {
  /*Rember me*/

  box-sizing: content-box;
  width: max-content;
}
input[type="checkbox"] {
  width: max-content;
  width: 20px;
  float: left;
}
#remember{

  
}
#remember1 {
  background-color: rgba(47, 47, 47, 0.3);
  width: max-content;
  border-radius: 0px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  position: relative;
}
#remember:checked #remember1{
  background-color: rgba(232, 219, 201, 0.7);
}
#remember1:hover {
  background-color: rgba(47, 47, 47, 0.8);
}

@media only screen and (max-width: 690px) {
  #nav-login {
    width: 100%;
    transform: translateX(0);
  }
}
