@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    
  font-family: 'Raleway', sans-serif;

    color: #E97231;
}
body{
    
}
#wrapper{

    width: 100%;
    height: 120vh;
    background-color: rgba(233, 114, 49, 0.8);

    
    
}

#main{
    transform: translateY(20vh);
    height: 90vh;
    width: 100%;
    
    position: relative;
    overflow: hidden;
    
    
   
}
video{
    position: fixed;
    
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
  }

#main:hover #mainbackgr{
   opacity: 0.5;
}

#p-div{
display: flex;
justify-content: center;
align-items:center;
flex-direction: column;

background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
font-size: larger;
font-weight: bold;

position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 2;
width: 70%;
max-width: 580px;
height: 40%;
padding: 20px;
text-align: center;

}
#btMehr{
    margin-top: 5%;
    padding: 20px;
    transition: all 0.2s ease-in-out;
    position: relative;
    cursor: pointer;
    font-size: medium;
    color: #E8DBC9;
    border: #E8DBC9 solid 1px;
    background-color: rgb(232,219,201,0.09);



}
#btMehr:active{
top:2px;

}
#btMehr::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: rgba(0,0,0, 1);
    
     
    transition: all 0.3s ease;
  }
  #btMehr:hover {
    color:#E8DBC9;
    
  }
  #btMehr:hover:after {
    left: 0;
    width: 100%;
  }

  #text-wrppic{
    transform: translateY(20vh);
    position: relative;
    width: 100%;
    height: 15%;
    background-color: #292627;
   display: flex;
   z-index: 0;
   justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    #text-wrppic p:nth-child(1){
        color: #E8DBC9;
        
       font-size: 1.3em;
        margin-top: 20px;
        
        width: 100%;
        text-align: center;
        
    }
    #text-wrppic p:nth-child(2){
        color: #E8DBC9;
        font-size: 3em;
        transform: rotate(90deg);
        cursor: pointer;
        text-shadow:  0 0 10px 10px white;
        
        height: fit-content;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 50%;
        
    }

#wrppic{
    color: #E8DBC9;
    
      
   
    transition: all 0.3s ease-in-out;
    z-index: 3;
    transform: translateY(20vh);
    
    
   height: 50%;
   
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
#pic1:hover .SchB{
background-color: #E8DBC9;


}
#pic1{
   
    background-image: url(../Pics/software-developer-6521720_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
     background-size: cover;
     height: 80%;
     width: 80%;
     min-width: 200px;
     margin-left: 1%;
     margin-right: 1%;
     display: flex;
     justify-content: center;
     align-items:center;
     
    transition: all 0.3s ease-in-out;
}
#pic2{
    background-image: url(../Pics/iphone-1836071_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    width: 80%;
    min-width: 200px;
    margin-left: 1%;
    margin-right: 1%;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items:center;
}
#pic3{
    margin-left: 1%;
    margin-right: 1%;
    background-image: url(../Pics/nature-6572635_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
     width: 80%;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items:center;
    justify-items: center;
    position: relative;
    transition: all 0.3s ease-in-out;
}
#pic1:hover{
    
}
#pic2:hover{
   
    
}
#pic3:hover{
   
}
#pic1:hover .SchB{
    opacity: 1;
    transform: scale(1);
    
    font-size: larger;
    background-color: rgba(0, 0, 0, 0.6);
    border-top: solid 1px #251E21;
    border-bottom: solid 1px #251E21;
    
}
#pic2:hover .SchB{
    opacity: 1;
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.6);
    font-size: larger;
    border-top: solid 1px #251E21;
    border-bottom: solid 1px #251E21;
    
}
#pic3:hover .SchB{
    opacity: 1;
    transform: scale(1);
    border-top: solid 1px #251E21;
    border-bottom: solid 1px #251E21;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: larger;
   
   
    
}

.SchB{
   
    text-align: center;
    transform: scale(0);
    color: #E8DBC9;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;    
    justify-content: center;
    
    transition: all 0.3s ease-in-out;
    transform-origin:center;
    opacity: 0;
}
#main:hover #p1{
    border-color: rgba(233, 114, 49, 1);


} 
#p1{
    color: #E8DBC9;
    background-color: rgba(0,0,0, 0.8);
    padding: 20px;
    border: solid 1px black;
    transition: all 0.3s ease-in-out;
   
    
}

#test{
    background-image: url(/Pics/home-2618511_1920.jpg);
    width: 100%;
    height: 100vh;
    z-index: 5;
}   





  

@media only screen and (max-width: 690px){

   

}