@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;

  /* color: #E97231; */
}
body {
}
.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1);
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
  transform: scale(0.95);
}

.is-hidden {
  transition: transform 0.2s ease-in-out;
  transform: scale(0);
}
.is-visible {
  transition: transform 0.2s ease-in-out;
  transform: scale(1);
}

@media only screen and (max-width: 690px) {
}
